<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/calmscient_icon_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calmscient_icon_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calmscient"
        android:hardwareAccelerated="true"
        tools:targetApi="33">
        <activity
            android:name=".activities.UserMoodActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenVideoActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.AnxietyQuestionsActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:label="Anxiety Introduction"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.WeeklySummary"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:label="WeeklySummary Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".activities.MedicationsActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:label="Medications"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.BeginManageAnxietyActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.ManageAnxietyActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.AnxietyPlayerActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.CalendarViewActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:label="CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:label="SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.LearnMoreWebviewActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.GlossaryActivity"
            android:configChanges="keyboardHidden|locale|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.ButterflyHugExercisesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.HandOverYourHeartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.MakeAPlanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.FastPaceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.MindfulnessExercisesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".activities.DancingExercisesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".activities.RunningExerciseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".activities.BodyMovementExerciseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".activities.DeepBreathingExerciseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>